/* FONTS */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v15-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-700.woff") format("woff");
}

/* ROOT STYLES */
:root {
  --body-bg-color: #eff1f7;
  --footer-bg-color: #232127;
  --main-bg-color: #3a3054;
  --main-blue-color: #2bd0d0;
  --title-text-color: #34313d;
  --text-color: #9e9aa8;
}

/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 1px dashed var(--text-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

/* BUTTON */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 40px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border-radius: 28px;
  text-transform: capitalize;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}

.btn-primary {
  background-color: var(--main-blue-color);
  color: #fff;
}

/* CONTAINER */
.container {
  max-width: 1210px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}

/* HEADER */
.site-header {
  background-color: #fff;
  padding: 48px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.site-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.site-logo-img {
  width: 120px;
  height: 33px;
  object-fit: contain;
  margin-right: 45px;
}

.site-logo-link:hover {
  opacity: 0.8;
}

.site-logo-link:active {
  opacity: 0.6;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.nav-link:hover {
  color: var(--title-text-color);
}

.nav-link:active {
  color: var(--title-text-color);
  opacity: 0.6;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-login {
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;
  line-height: 22px;
  margin-right: 37px;
  text-transform: capitalize;
  font-weight: 700;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.header-login:hover {
  color: var(--title-text-color);
}

.header-login:active {
  color: var(--title-text-color);
  opacity: 0.6;
}

.header-signup {
  padding: 8px 24px;
  text-transform: capitalize;
  border-radius: 28px;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  background-color: var(--main-blue-color);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header-signup:hover {
  opacity: 0.8;
}

.header-signup:active {
  opacity: 0.6;
}

/* HERO */
.hero {
  position: relative;
  padding-top: 30px;
  padding-bottom: 222px;
  background-color: #fff;
  background-image: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: top 30px left calc(50% + 500px);
  background-size: 733px 482px;
  margin-bottom: 84px;
}

.hero-container {
  padding-top: 60px;
}

.hero-content {
  max-width: 565px;
  width: 100%;
}

.hero-title {
  color: var(--title-text-color);
  letter-spacing: -2px;
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  margin-top: 0;
  margin-bottom: 5px;
}

.hero-text {
  font-size: 22px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 38px;
}

/* CTA */
.search-block {
  position: absolute;
  bottom: -84px;
  left: calc(50% - 555px);
  padding: 52px 65px;
  width: 1110px;
  background-color: var(--main-bg-color);
  background-image: url(../images/purple-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.search-form {
  width: 100%;
  display: flex;
}

.search-input {
  flex-grow: 1;
  margin-right: 24px;
  border-radius: 10px;
  padding: 14px 32px;
  font-size: 20px;
  line-height: 36px;
  border: 1px solid transparent;
}

.search-input:focus {
  border: 1px solid red;
  outline: none;
}

/* FEATURES */
.features {
  padding: 120px 0;
}

.features-hero {
  max-width: 540px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.features-hero-title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 40px;
  left: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--title-text-color);
}

.features-hero-text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.features-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  min-height: 360px;
  align-items: center;
  justify-content: space-between;
}

.features-item {
  position: relative;
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  padding: 77px 32px 41px;
  background-color: #fff;
}

.features-item:first-child {
  align-self: flex-start;
}

.features-item:last-child {
  align-self: flex-end;
}

.item-features-img-wrapper {
  position: absolute;
  top: -44px;
  left: 32px;
  width: 88px;
  height: 88px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.features-img {
  object-fit: contain;
  width: 40px;
  height: 40px;
}

.item-features-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.item-features-text {
  margin: 0;
}

/* CTA */
.cta {
  max-width: 1440px;
  width: 100%;
  padding: 57px;
  background-color: var(--main-bg-color);
  background-image: url(../images/cta-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}

/* FOOTER */
.site-footer {
  background-color: var(--footer-bg-color);
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  --text-color: #bfbfbf;
  --title-text-color: #fff;
}

.footer-container {
  display: flex;
}

.site-footer-logo-link {
  width: 120px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.site-footer-logo-link:hover {
  opacity: 0.8;
}

.site-footer-logo-link:active {
  opacity: 0.6;
}

.footer-nav {
  max-width: 460px;
  width: 100%;
  margin-left: auto;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-item-wrapper-title {
  margin-top: 0;
  margin-bottom: 22px;
}

.footer-nav-item-wrapper-title-link {
  color: var(--title-text-color);
  text-decoration: none;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.footer-nav-item-wrapper-title-link:hover {
  color: var(--main-blue-color);
}

.footer-nav-item-wrapper-title-link:active {
  opacity: 0.6;
}

.footer-nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-nav-item-link {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease, opacity 0.3s ease;
}

.footer-nav-item-link:hover {
  color: var(--main-blue-color);
}

.footer-nav-item-link:active {
  opacity: 0.6;
}

.social-contacts-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.social-contacts-item {
  margin-left: 24px;
}

.social-contacts-item:first-child {
  margin-left: 0;
}

.social-contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  object-fit: contain;
  color: #fff;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.social-contacts-link:hover {
  color: var(--main-blue-color);
}

.social-contacts-link:active {
  opacity: 0.6;
}
